@charset "YTF-8";

/*
基本設定
*/

body {
    font-family: 'Avenir' , sans-serif;
    color: #555353;
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #555353;
}

li {
    list-style: none;
}

/*
header
*/
header {
    background: linear-gradient(#75BDD3, #55C4BB);
}

header ul {
    margin: 0;
    display: flex;
}

header ul li {
    margin: 1% 3% 0 0;
}

header ul li a::after {
    content: '';
    display: block;
    width: 60%;
    height: 2px;
    background-color: #6AEDC8;
    transform: translate(40%);
}

header ul li a {
    color: #FFFFFF;
    font-size: small;
}


.firstview {
    display: flex;
    width: 66%;
    padding: 100px 17%;
}

.firstview-img {
    width: 40%;
}

.firstview-img img {
    padding: 5%;
    border: 2px solid white;
    border-radius: 50%;
    width: 88%;
}

.firstview-txt {
    margin: 5% 0 0 10%;
    color: #FFFFFF;
    width: 60%;
}

.firstview-txt h1 {
    display: inline-block;
    border-bottom: 3px solid #6AEDC8;
} 

.firstview-txt p {
    text-align: center;
    font-size: larger;
}

/*
main
*/

#about {
    text-align: center;
    margin-bottom: 10%;
}

.about-contents {
    width: 100%;
    
}

.section-img {
    width: 20%;
    margin-bottom: 50px;
}

.about-txt {
    margin: 0 20%;
}

.about-txt p {
    text-align: center;
}

.about-icons img {
    width: 30px;
    margin-right: 10px;
}

#projects {
    background-color: #53BD9D;
    -webkit-clip-path: polygon(0 5%, 200% -5%,200% 105%, 0 95%);
    clip-path: polygon(0 5%, 200% -5%,200% 105%, 0 95%);
    background-color:#53BD9D;
    color: #FFFFFF;
    padding: 5%;
    text-align: center;
}

.projects-cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-card {
    text-align: left;
    width: 66%;
    padding: 5%;
}

.projects-cards img {
    width: 100%;
}

.project-links {
    display: flex;
    margin-left: 2%;
}
.project-links p{
    border: 0.5px #FFFFFF solid;
    font-size: smaller;
    margin-right: 5%;
    padding: 5px;
}

.project-links a {
    color: #FFFFFF;
}

#contact {
    text-align: center;
    padding: 5%;
}

.contact-cards {
    display: flex;
justify-content: space-around;
}

.contact-card img {
    width: 50%;
}


.contact-card h3::after {
    content: '';
    display: block;
    width: 80%;
    height: 3px;
    background-color: #707070;
    transform: translate(10%);
}

footer {
    background-color: #F5F4F4;
    padding: 15px 0;
}

.tx-f {
    text-align: center;
    font-size: smaller;
}


@media screen and (max-width:767px) {
    .firstview {
        display: block;
    }

    .firstview-img {
        width: 100%;
    }
    .firstview-txt {
        margin: auto;
    }

    h1,h2 {
        font-size: 40px;
    }

    #projects {
        padding-bottom: 70px;
    }

    .projects-cards {
        display: block;
    }

    .projects-card {
        width: 90%;
        text-align: center;
    }

    .project-links {
        justify-content: space-evenly;
    }

    .contact-cards {
        display: block;
        margin: auto 10%;
    }

    .section-img {
        width: 60%;
    }

    .contact-card {
        background-color: #DEDADA;
        border-top: solid 5px #53BD9D;
        margin-bottom: 50px;
    }
    .contact-card img {
        width: 10%;
        margin-top: 30px;  
    }
    .contact-card h3::after {
        width: 30%;
        transform: translate(120%);
    }

    }